<div class="container-fluid">
	<div class="row-fluid title">
		<div class="span5">
			<h2>Comunidad</h2>
		</div>
		<div class="span7 hidden-phone"><hr></div>
	</div>
	<div class="row-fluid desc">
		<div class="span8">
			<p>Somos un grupo de <strong>coders</strong> que realiza <strong>charlas</strong> de programación y otras nerdeadas, usando como combustible <strong>cerveza</strong>. Principalmente:</p>
		</div>
	</div>
	<div class="row-fluid content">
		<div class="span4">
			<ul class="article-tags">
				<li class="current" data-blog="alan"><i class="icon-user"></i> Alan Reid</li>
				<li data-blog="gustavo"><i class="icon-user"></i> Gustavo Arjones</li>
				<li data-blog="diego"><i class="icon-user"></i> Diego Ram&iacute;rez</li>
				<li data-blog="luis"><i class="icon-user"></i> Luis Farzati</li>
				<!-- <li data-blog="pablo"><i class="icon-user"></i> Pablo Paladino</li>
				<li data-blog="sebas"><i class="icon-user"></i> Sebasti&aacute;n Scarano</li>
				<li data-blog="nico"><i class="icon-user"></i> Nicol&aacute;s Mel&eacute;ndez</li>
				<li data-blog="jorge"><i class="icon-user"></i> Jorge Aliss</li> -->
			</ul>
		</div>
		<div class="span8 slide current" data-blog="alan">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4>Alan Reid</h4>
					<p><img src="https://si0.twimg.com/profile_images/378800000014358398/03df1908ab86630af5cc5420decd579f.png" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Fundador &amp; Organizador</h4>
					<p>CTO en Zenith Sistemas SA.</p>
					<p><a target="_blank" href="https://twitter.com/alan_reid"><i class="icon-twitter"></i> @alan_reid</a></p>
				</div>
			</div>
		</div>
		<div class="span8 slide" data-blog="gustavo">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4>Gustavo Arjones</h4>
					<p><img src="" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Fundador</h4>
					<p></p>
					<p><i class="icon-twitter"></i> @</p>
				</div>
			</div>
		</div>
		<div class="span8 slide" data-blog="diego">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4>Diego Ram&iacute;rez</h4>
					<p><img src="" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Fundador</h4>
					<p></p>
					<p><i class="icon-twitter"></i> @</p>
				</div>
			</div>
		</div>
		<div class="span8 slide" data-blog="luis">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4>Luis Farzati</h4>
					<p><img src="" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Fundador</h4>
					<p></p>
					<p><i class="icon-twitter"></i> @</p>
				</div>
			</div>
		</div>
		<!-- <div class="span8 slide" data-blog="pablo">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4></h4>
					<p><img src="" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Mini bio</h4>
					<p></p>
					<p><i class="icon-twitter"></i> @</p>
				</div>
			</div>
		</div>
		<div class="span8 slide" data-blog="sebas">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4></h4>
					<p><img src="" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Mini bio</h4>
					<p></p>
					<p><i class="icon-twitter"></i> @</p>
				</div>
			</div>
		</div>
		<div class="span8 slide" data-blog="nico">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4></h4>
					<p><img src="" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Mini bio</h4>
					<p></p>
					<p><i class="icon-twitter"></i> @</p>
				</div>
			</div>
		</div>
		<div class="span8 slide" data-blog="jorge">
			<div class="row-fluid">
				<div class="span6 expand">
					<h4></h4>
					<p><img src="" alt=""></p>
				</div>
				<div class="span6 visible-desktop">
					<h4>Mini bio</h4>
					<p></p>
					<p><i class="icon-twitter"></i> @</p>
				</div>
			</div>
		</div> -->
	</div>
</div>


<h3>Miembros de Nardoz</h3>

<table id="members" class="table table-striped">
	<tbody>
		<tr>
		  <td class="name">Alan Reid</td>
		  <td><span class="label label-info">Fundador</span> <span class="label label-warning">Organizador</span></td>
		  <td class="follow"><a href="https://twitter.com/alan_reid" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @alan_reid</a></td>
		</tr>
		<tr>
		  <td class="name">Gustavo Arjones</td>
		  <td> <span class="label label-info">Fundador</span></td>
		  <td class="follow"><a href="https://twitter.com/arjones" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @arjones</a></td>
		</tr>
		<tr>
		  <td class="name">Diego Ramírez</td>
		  <td> <span class="label label-info">Fundador</span></td>
		  <td class="follow"><a href="https://twitter.com/diegoram" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @diegoram</a></td>
		</tr>
		<tr>
		  <td class="name">Luis Farzati</td>
		  <td> <span class="label label-info">Fundador</span></td>
		  <td class="follow"><a href="https://twitter.com/luisfarzati" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @luisfarzati</a></td>
		</tr>
		<tr>
		  <td colspan="2" class="name">Pablo Paladino</td>
		  <td class="follow"><a href="https://twitter.com/palamago" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @palamago</a></td>
		</tr>
		<tr>
		  <td colspan="2" class="name">Sebastián Scarano</td>
		  <td class="follow"><a href="https://twitter.com/develsas" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @develsas</a></td>
		</tr>
		<tr>
		  <td colspan="2" class="name">Nicolás Meléndez</td>
		  <td class="follow"><a href="https://twitter.com/nfmelendez" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @nfmelendez</a></td>
		</tr>
		<tr>
		  <td colspan="2" class="name">Jorge Aliss</td>
		  <td class="follow"><a href="https://twitter.com/jaliss" class="twitter-follow-button" data-show-count="false" data-lang="es" data-size="large">Seguir a @jaliss</a></td>
		</tr>
	</tbody>
</table>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<h3>Grupos relacionados a Nardoz</h3>

<div class="row groups">

	<div class="span6 meetup">
		<iframe width="225" height="320" src="http://meetu.ps/1HTmpl" frameborder="0"></iframe>
	</div>

	<div class="span6 meetup">
		<iframe width="225" height="320" src="http://meetu.ps/1HTqFb" frameborder="0"></iframe>
	</div>

</div>

<div class="row groups">

	<div class="span6 meetup">
		<iframe width="225" height="320" src="http://meetu.ps/1HW3Cg" frameborder="0"></iframe>
	</div>

	<div class="span6 meetup">
		<iframe width="225" height="320" src="http://meetu.ps/1HTr7n" frameborder="0"></iframe>
	</div>

</div>

<div class="row groups">
	<div class="span6 meetup">
		<iframe width="225" height="500" src="http://meetu.ps/1HTs2T" frameborder="0"></iframe>
	</div>

</div>
